* {
    background-color: black;
    color: white;
}

.box-one {
    width: 400;
    border: 10px;
    border-color: white;
    border-style: solid;
    margin-right:50px;
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}