* {
    background-color: black;
    color: lightslategray;
    font-size: 40px;
}

.staircase-heading {
    text-align: center;
    color: red;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.box-one {
    border: 10px;
    border-color: darkgray;
    border-style: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 50px;
    padding: 10px;
    text-align: center;
    width: 100px;
}
.box-two {
    border: 10px;
    border-color: darkgray;
    border-style: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    margin-left: 150px;
    padding: 10px;
    text-align: center;
    width: 100px;
}
.box-three {
    border: 10px;
    border-color: darkgray;
    border-style: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    margin-left: 250px;
    padding: 10px;
    text-align: center;
    width: 100px;
}
.box-four {
    border: 10px;
    border-color: darkgray;
    border-style: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    margin-left: 350px;
    padding: 10px;
    text-align: center;
    width: 100px;
}